<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style2.css">
  <title>Sign Up</title>
</head>
<body>
  <section id="auth-section">
    <div class="auth-container">
      <h2>Sign Up</h2>
      <form id="signup-form">
        
        <input type="text" id="signup-email" placeholder="Email" required />
        <input type="password" id="signup-password" placeholder="Password" required />
        <button type="submit">Sign Up</button>
        <p id="signup-error-message" class="error"></p>
      </form>
      <div class="switch-link">
        <p>Already have an account? <a href="signin.html">Sign in</a></p>
      </div>
    </div>
  </section>
  <script src="../js/signup.js"></script>

</body>
</html>
